@using CAPS.DataModels;
@model IEnumerable<PawnItem>

<h2>My Brought Items</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Value</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No brought items found.</p>
}
