@{
    ViewData["Title"] = "Insufficient Funds";
}

<h2>Insufficient Funds</h2>

<div class="alert alert-danger" role="alert">
    <p>You do not have enough funds</p>
</div>

<a class="btn btn-primary" href="@Url.Action("Index", "Home")">Return to Dashboard</a>
