@model CAPS.ViewModels.PayViewModel

<h2>Pay Loan</h2>

<form method="post">
   
    <input type="hidden" asp-for="LoanId" />
    <input type="hidden" asp-for="AppUserId" />

    
    <div class="form-group">
        <label for="AmountDue">Amount You Need To Pay</label>
        <input type="text" class="form-control" id="AmountDue" value="@Model.Amount.ToString("C")" readonly />
    </div>

   
    <div class="form-group">
        <label for="AmountToPay">Enter Payment Amount</label>
        <input type="number" class="form-control" id="AmountToPay" name="Amount" step="1.00" required />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Pay</button>
    <a href="@Url.Action("PayLoan", "Loans")" class="btn btn-secondary">Back</a>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
