@model CAPS.ViewModels.PawnShopsViewModel

<h2>Edit PawnShop</h2>
<form method="post">
    <input type="text" name="Name" value="@Model.Name" />
    <input type="text" name="City" value="@Model.City" />
    <input type="text" name="LocationUrl" value="@Model.LocationUrl" />
    <button type="submit">Save Changes</button>
</form>

