@using CAPS.DataModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        var user = await UserManager.GetUserAsync(User); 
        var fullName = user?.FullName ?? user?.Email; 
        var currencyAmount = user?.CurrencyAmount ?? 0.00m;

        <li class="nav-item d-flex align-items-center">
           
            <span class="nav-link text-dark ms-3">Hello, @fullName!</span>

            
            <span class="nav-link text-dark ms-3">Currency: @currencyAmount</span>

            
            <form class="form-inline ms-3" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
